<!DOCTYPE html>
<html>
  <head>
    <title>GmapApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <h3>My Google Maps Demo</h3>

    <%= yield %>
  <script sync defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key'] %>&callback=initMap">
  </script>

  </body>
</html>
